body {
   background: #F5F5F5;
   font-family: "Helvetica Neue", Arial, serif;
   font-size: 22px;
   max-width: 1600px;
   margin: 0 auto;
   padding: 0 10px;
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   min-width: 420px;
}

p {
  padding: 0 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

p.try {
  font: italic bold 22px/30px Georgia, serif;
  border: 1px solid #dddddd;
  padding: 8px;
  background-color: #e1f28d;
  color:#2a01f9;
}

div.try {
  width: 160px;
  font: italic bold 22px/30px Georgia, serif;
  border: 1px solid green;
  background-color: #e1f28d;
  color:#2a01f9;
  padding: 8px;
  margin: 10px;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 400px; /* only for demonstration, should be removed */
}