  .content-wrapper {
    line-height: 1.4;
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 25px;
  }
  .aboutme {
    background: #FDFEFE 
  }

.center {
    text-align: center;
    color: #f20713;
    font-size: 3em;
    text-shadow: 2px 2px 5px;
  }
  .hobbies {
    background: #e91e63;
    color: white;
  }

   .highligted {
    background: #dcf462 ;
    color: #2b00ff;
  }

  .activities {
    background: #FDFEFE 
  }

  .contact {
    background: #575656;
    color: white;
  }

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #F5F5F5;
    color: #444;
    font-family: "Helvetica Neue", Arial, serif;
    font-size: 22px;
    max-width: 1600px;
    margin: 10px;
    padding: 20px;
    font-weight: 200;
    min-width: 420px;
  }
  
  h1, h2, h3, h4, li {
    padding: 5px 0;
/*     margin: 5px 0; */
  }
  
  ol, ul {
    margin: 20px 20px;
  }
  
  a {
    padding-left: 10px;;
  }
  
  /*
   * HEADER
   */
  .header {
    align-items: center;
    background-color: #EFEFEF;
    background-image: url('../images/fahrenheit.jpeg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-top: 4px solid #e91e63;
    color: #FFFFFF;
    height: 40vh;
    min-height: 270px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: inherit;
  }
  
  .header h1 {
    font-size: 4rem;
    font-weight: 100;
  }
  
  .header h2 {
    font-size: 2.1rem;
    font-weight: 100;
    margin: 5px 0;
  }

  .site-avatar {
    float: left;
    min-width: 100px;
    margin-right: 15px;
  }

  .site-avatar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;    
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

.site-avatar .img-border {
  height: 160px;
  width: 160px;
  border: 5px solid rgba(255, 255, 0, 0.8);
  margin: 0 auto;
  border-radius: 50%;
}

  .site-avatar img:hover {
    filter: opacity(70%);
  }

  @media only screen and (max-width: 480px)  {
    .header {
      background-size: 100% auto;
      flex-direction: column;
    }

    .header h1 {
      font-size: 2.7rem;
      font-weight: 100;
      margin: 0 15px;
    }
    
    .header h2 {
      font-size: 1.2rem;
      font-weight: 100;
      margin: 0 10px;
    }

    .site-avatar {
      min-width: 80px;
      display: block;
      margin: 0 ;
    }

    .site-avatar img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
    }

    .site-avatar .img-border {
  height: 90px;
  width: 90px;
  border: 5px solid rgba(255, 255, 0, 0.8);
  margin: 0 auto;
  border-radius: 50%;
}
  }
  
  @media only screen and (max-width: 640px) {
    .header h1 {
      font-size: 3.2rem;
      font-weight: 100;
    }
    
    .header h2 {
      font-size: 1.6;
      font-weight: 100;
    }
  }
  .header::before {
    background: rgba(0, 0, 0, .6);
    bottom: 0;
    content: ' ';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  .header * {
    position: relative;
    z-index: 2;
    text-shadow: 1px 1px 10px black;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

